name: Generate and publish docs

on:
  push:
    branches:
      - "spark-3.2"
  pull_request:
    branches:
      - "spark-3.2"


jobs:
  generate-and-publish-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          distributions: adopt
          java-version: 11
          check-latest: true
      - name: Generate docs
        run: ./mvnw clean package site -Dmaven.test.skip=true
      - name: Copy docs to "docs" branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: docs
          publish_dir: ./kotlin-spark-api/3.2/target/dokka


